<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style_jur.css}" />
</head>
<body>

<div class="dmaku-error-main">
    <div class="w-1200 clear">
        <div class="error-l fl">
            <h1><a href="#"></a></h1>
            <div class="l-tex">
                <p>您的所访问无权限</p>
            <div class="clear"></div>
        </div>
        <div class="error-r fr"><img th:src="@{/images/sucainiu-error-1.png}"></div>
    </div>
</div>


</body>
</html>